@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato-Regular";
  src: url("../public/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../public/Lato-Bold.ttf");
}


html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  background-color: rgba(184, 20, 116, 0.379);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
